.product_info {
	padding: 40px 0 40px;
}

.info_wrapper {
	padding: 0 60px;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 60px;
}

.info_image {
	flex-shrink: 0;
	max-width: 710px;
	width: 100%;
	min-height: 710px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info_image img {
	width: inherit;
	height: 100%;
	object-fit: contain;
}

.info_content {
	max-width: 412px;
}

.description {
	margin-top: 40px;
	padding-top: 25px;
	border-top: 1px dashed var(--c0-color);
}

.description p {
	font-size: 20px;
}

.description_title {
	margin-bottom: 15px;
	font-weight: 600;
}

@media (max-width: 1400px) {
	.info_wrapper {
		justify-content: center;
	}

	.info_content {
		max-width: 100%;
	}

	.info_image {
		min-height: auto;
	}

}

@media (max-width: 762px) {
	.product_info {
		margin-top: 50px;
	}

	.info_wrapper {
		padding: 0;
		margin-top: 40px;
		gap: 10px;
	}

}