.order {
	width: 496px;
	height: 392px;
	padding: 25px;
	border: 3px solid var(--black-color);
	border-radius: 21px;
}

.order_title {
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
}

.order_summ {
	padding: 0 5px;
	margin: 47px 0 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order_summ p {
	display: block;
	font-weight: 500;
	font-size: 24px;
}

.order_summ div {
	font-weight: 600;
	font-size: 28px;
}

.order_summ span {
	font-size: 16px;
}

.order_form {
	display: flex;
	flex-direction: column;
	gap: 25px;
}