.cart_page {
	padding: 50px 0 80px;
}

.cart_wrapper {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}

.cart_content {
	max-width: 820px;
	width: 100%;
}

.back_link {
	margin: 20px 0 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 20px;
	line-height: 20px;
	gap: 17px;
}

.back_link svg {
	color: var(--a7-color);
}

.order_block {
	padding-top: 70px;
	max-width: 492px;
	width: 100%;
}

@media (max-width: 1392px) {
	.cart_content {
		max-width: 100%;
	}
}

@media (max-width: 762px) {
	.cart_page {
		margin-top: 100px;
	}

	.cart_wrapper {
		justify-content: center;
	}
}