.catalog {
	padding: 40px 0 80px;
	min-height: 570px;
}

.catalog_top {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	gap: 100px;
}

.catalog_link {
	width: 120px;
	height: 30px;

	font-weight: 700;
	font-size: 12px;
	line-height: 30px;
	text-align: center;

	border: 1px solid var(--black-color);
}

@media (max-width: 762px) {
	.catalog {
		padding: 40px 0 40px;
	}

	.catalog_top {
		margin-bottom: 0;
		flex-direction: column;
		gap: 50px;
	}
}