.categories_list {
	margin: 80px 0 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 318px);
	justify-items: center;
	justify-content: center;
	grid-column-gap: 35px;
	grid-row-gap: 55px;
}

@media (max-width: 762px) {
	.categories_list {
		margin: 50px 0 40px;

	}
}