.offer {
	padding: 30px 0;
	background: var(--ui-linear);
	min-height: 480px;
}

.offer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.image_wrapper {
	max-width: 422px;
	height: 422px;
	object-fit: cover;
}