.head {
	/* position: relative; */
	background-color: var(--head-color);

}

.head_wrapper {
	min-height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.head_title {
	font-weight: 700;
	font-size: 80px;
	line-height: 80px;
	color: var(--white-color)
}

.head_title span {
	display: block;
	font-size: 63px;
}

.head_link {
	width: 155px;
	height: 80px;
	margin-top: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	word-wrap: 700px;
	font-size: 25px;

	border-radius: 13px;

	background-color: var(--white-color);
	color: var(--color-black);
}

.image_wrapper {
	align-self: end;
	position: relative;
	right: -20px;
}


@media (max-width: 1100px) {

	.head {
		background: var(--brand-linear);
	}

	.head_wrapper {
		justify-content: center;
	}

	.image_wrapper {
		display: none;
	}

	.head_inner {
		margin-left: 0;
		text-align: center;
	}

	.head_link {
		margin: 60px auto 0;
	}
}