.button {
	position: relative;
	font-weight: 700;

	border: 2px solid transparent;
	border-radius: 5px;

	background-color: var(--ui-color);
	color: var(--white-color);

	transition: text-shadow var(--hover-time) ease, box-shadow var(--hover-time) ease, background-color var(--hover-time) ease, border-color var(--hover-time) ease;
}

.button.header_btn {
	max-width: 125px;
	width: 100%;
	height: 50px;
	font-size: 16px;

	padding: 12px 28px;
}

.button.sale_ofer {
	max-width: 475px;
	width: 100%;
	height: 75px;
	font-size: 28px;
	line-height: 34px;

	border: 2px solid var(--white-color);
	border-radius: 25px;

	background-color: transparent;
	color: var(--white-color)
}

.button.product {
	max-width: 340px;
	width: 100%;
	height: 86px;
	padding: 20px 80px;

	font-size: 28px;

	border-radius: 10px;
}

.button.product_cart {
	position: absolute;
	z-index: 30;
	max-width: 280px;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);

	width: 100%;
	height: 72px;
	padding: 20px 60px;

	font-weight: 600;
	font-size: 18px;
	background-color: var(--ui-button-color);
	border: 2px solid var(--ui-color);
	color: var(--ui-color);
	border-radius: 20px;

	transition: box-shadow var(--hover-time) ease, background-color var(--hover-time) ease, border-color var(--hover-time) ease, top var(--hover-time) ease;
}

.button.sale,
.button.order {
	max-width: 446px;
	width: 100%;
	height: 76px;

	padding: 15px 80px;

	font-size: 28px;

	border-radius: 17px;
}

.button.info {
	max-width: 340px;
	width: 100%;
	height: 86px;

	padding: 20px 80px;

	font-size: 28px;

	border-radius: 8px;
}

@media (min-width: 762px) {
	.button:focus {
		border-color: var(--black-color);
		background-color: var(--ui-color);
		box-shadow: inset 0 0 0 transparent;
	}

	.button:hover {
		border-color: transparent;
		background-color: var(--ui-light-color);
		text-shadow: -5px 5px 10px var(--black-color);
		box-shadow: inset 0 0 10px var(--6c-color);
	}

	.button.product_cart:focus {
		position: absolute;
		background-color: var(--ui-button-color);
		top: 65%;
	}

	.button.product_cart:hover {
		background-color: var(--ui-color);
		color: var(--white-color);
		box-shadow: inset 0 0 transparent;
	}

	.button:active {
		top: 1px;
		text-shadow: 0 0 0 transparent;
		border-color: transparent;
		background-color: var(--ui-color);
		box-shadow: inset 0 0 0 transparent;
	}
}


@media (max-width: 1400px) {
	.button.info {
		margin: 20px auto 0;
		display: block;
	}
}

@media (max-width: 762px) {
	.button.sale_ofer {
		max-width: 100%;
	}

	.button.product_cart:hover {
		background-color: var(--ui-color);
		color: var(--white-color);
	}
}