.filter_wrapper {
	padding: 80px 0 20px;

	font-weight: 600;
	font-size: 20px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
}

.price_filter {
	display: flex;
	align-items: center;
	gap: 15px;
}

.discont_filter {
	display: flex;
	align-items: center;
	gap: 40px;
}

.discont {
	position: absolute;
	z-index: -1;

	opacity: 0;
}

.discont:checked~label::before {
	opacity: 1;
}

.checkbox_label {
	position: relative;
	z-index: 20;
	width: 40px;
	height: 40px;

	border: 1px solid var(--black-color);
	border-radius: 7px;

	background-color: transparent;

	cursor: pointer;

	transition: border-color var(--hover-time) ease;
}

.checkbox_label::before {
	content: '\2713';
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background-color: transparent;
	color: var(--a7-color);

	opacity: 0;

	transition: opacity var(--hover-time) ease, color var(--hover-time) ease;
}

.select_filter {
	margin-left: 50px;

	display: flex;
	align-items: center;
	gap: 40px;
}

.select_wrapper {
	position: relative;
	height: 40px;

	font-size: 16px;
	letter-spacing: 2px;

	border: 1px solid var(--black-color);
	border-radius: 7px;

	color: var(--a7-color);

	transition: border-color var(--hover-time) ease;
}

.select {
	padding: 8px 40px 8px 10px;

	position: relative;
	z-index: 20;

	border: none;

	background-color: transparent;
	color: var(--a7-color);

	outline: none;

	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

	transition: color var(--hover-time) ease;
}


.select option {
	color: var(--black-color);
}

.select_icon {
	position: absolute;
	z-index: 10;
	top: -2px;
	right: 10px;

	width: 20px;
	height: 40px;

	color: var(--a7-color);

	transition: color var(--hover-time) ease;
}




@media (min-width: 762px) {

	.select_wrapper:hover,
	.select_wrapper:hover svg {
		border-color: var(--ui-color);
		color: var(--ui-color);
	}

	.checkbox_label:hover {
		border-color: var(--ui-color);
	}

	.checkbox_label:hover.checkbox_label:before {
		color: var(--ui-color);
	}

}


@media (max-width: 1100px) {

	.select_filter {
		margin-left: 0px;
	}

}