.nav {
	justify-self: end;
}

.nav_list {
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 46px;
}

.nav_link {
	display: block;
	position: relative;
	padding: 3px 2px;

	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1.5px;

	border-bottom: 2px solid transparent;
	transition: color var(--hover-time) ease, border-bottom-color var(--hover-time) ease;
}

@media (max-width: 762px) {
	.nav {
		grid-area: nav;
		justify-self: center;
	}

	.nav_list {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 90px;
	}

	.nav_link {
		font-weight: 700;
		font-size: 32px;
	}
}

@media (min-width: 762px) {
	.nav_link:focus {
		color: var(--92-color);
	}

	.nav_link:hover {
		color: var(--ui-color);
		border-bottom-color: var(--ui-color);
	}

	.nav_link:active {
		top: 1px;
	}
}