.allert_wrapper {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--blur-color);
}

.alert {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;

	max-width: 600px;
	min-height: 300px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;

	border: 2px solid var(--ui-color);
	border-radius: 20px;
	background-color: var(--white-color);
	box-shadow: 0 0 20px var(--ui-color);
}

.alert_message {
	font-weight: 600;
	font-size: 32px;
	color: var(--ui-color);
}