header {
	padding: 20px 0;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}