.input {
	font-size: 18px;

	background-color: var(--white-color);
	outline: none;
	transition: box-shadow var(--hover-time) ease;
}

.input.sale {
	max-width: 475px;
	width: 100%;
	height: 75px;
	padding: 25px 50px;
	font-weight: 600;
	border: none;
	border-radius: 25px;
	color: var(--6c-color);
}

.input.order {
	max-width: 446px;
	width: 100%;
	height: 72px;
	padding: 25px;
	font-weight: 500;
	border-radius: 20px;
	color: var(--92-color);
	border: 1px solid var(--black-color);
}


.input.filter {
	width: 100px;
	height: 40px;

	padding: 12px 10px;

	font-size: 16px;
	letter-spacing: 2px;

	border: 1px solid var(--black-color);
	border-radius: 7px;

	color: var(--ac-color);

	box-shadow: 0 0 0 transparent;


	cursor: pointer;
	outline: none;
	transition: border-color var(--hover-time) ease;

}

@media (min-width: 762px) {

	input:focus {
		box-shadow: inset 0 0 19px var(--black-color);
	}

	.input.filter:hover {
		border-color: var(--ui-color);
	}

	.input.filter:hover::placeholder {
		color: var(--ui-color);
	}

}

@media (max-width: 762px) {
	.input.sale {
		max-width: 100%;
	}
}