.input {
	font-size: 18px;

	background-color: var(--white-color);

	outline: none;

	transition: box-shadow var(--hover-time) ease;
}

.input.sale {
	padding: 25px 50px;

	max-width: 475px;
	width: 100%;
	height: 75px;

	font-weight: 600;

	border: none;
	border-radius: 25px;

	color: var(--6c-color);
}

.input.order {
	padding: 25px;

	max-width: 446px;
	width: 100%;
	height: 72px;

	font-weight: 500;

	border: 1px solid var(--black-color);
	border-radius: 20px;

	color: var(--92-color);
}


.input.filter {
	padding: 12px 10px;

	width: 100px;
	height: 40px;

	font-size: 16px;
	letter-spacing: 2px;

	border: 1px solid var(--black-color);
	border-radius: 7px;

	color: var(--a7-color);

	box-shadow: 0 0 0 transparent;

	cursor: pointer;
	outline: none;

	transition: border-color var(--hover-time) ease;
}

.input.filter::-webkit-outer-spin-button,
.input.filter::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

@media (min-width: 762px) {

	input:focus {
		box-shadow: inset 0 0 19px var(--black-color);
	}

	.discont:focus {
		box-shadow: inset 0 0 0 transparent;
	}

	.input.filter:hover {
		border-color: var(--ui-color);
	}

	.input.filter:hover::placeholder {
		color: var(--ui-color);
	}

}

@media (max-width: 762px) {

	.input.sale {
		max-width: 100%;
	}

}