.product_item {
	width: 100%;
	min-height: 366px;
	text-align: center;
	cursor: pointer;
}

.img_wrapper {
	position: relative;
	z-index: 10;
	height: 276px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.img_wrapper img {
	width: 100%;
	object-fit: contain;
	transition: transform var(--hover-time) ease;
}

.product_content {
	padding: 0 20px;
}

.product_title {
	font-weight: 500;
	font-size: 16px;

	color: var(--3a-color);
	transition: color var(--hover-time) ease;

}

@media (min-width: 762px) {

	.product_item:hover .product_title {
		color: var(--ui-color);
	}

	.product_item:hover .img_wrapper button {
		position: absolute;
		top: 65%;
	}
}

@media (max-width: 762px) {
	.product_item .img_wrapper button {
		position: absolute;
		top: 65%;
	}
}