*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul,
li,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	border-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}

input,
textarea {
	cursor: text;
}

textarea {
	resize: none;
}

button {
	border: transparent;
	color: transparent;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

a {
	border: none;
	background-color: transparent;
	text-decoration: none;
	outline: none;
	color: inherit;
}